/* .passcode {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
} */

.passcode .verifycenter {
	width: auto;
	padding: 25px;

	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.passcode .verifycenter .iconback {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	cursor: pointer;
}

.passcode .verifycenter .iconback img {
	width: 6.5px;
	height: 13px;
	margin-right: 10px;
}

.passcode .verifycenter .iconback p {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: #037c0f;
	margin: 0;
}

.passcode .verifycenter p.verifythis {
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	color: #037c0f;
	/* margin: 0px; */
	margin-bottom: 21px;
}

.passcode .verifycenter .recordbox {
	width: 523px;
	height: 370px;
	background: #ffffff;
	border: 0.2px solid #037c0f;
	box-sizing: border-box;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.passcode .verifycenter .recordbox .iconrecord img {
	margin-bottom: 22px;
}
