/* div {
	border: 2px solid black;
} */
a {
	text-decoration: none;
	color: inherit;
}

.container .logo {
	display: flex;
	justify-content: center;
	margin: 80px 0 42px 0;
}

.container .logo img:first-child {
	margin-right: 21px;
}

.container .welcome p {
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	color: #037c0f;
}

.container .welcome {
	margin-bottom: 36px;
}

.container .whatyou p {
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #037c0f;
	font-weight: normal;
}

.container .options {
	margin: 67px 0;
}

.container .options .option1,
.container .options .option2 {
	display: flex;
	justify-content: center;
}

.container .options .check {
	width: 412.74px;
	height: 105.58px;
	background: #ffffff;
	border: 0.1px solid #037c0f;
	border-radius: 9px;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 53px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #037c0f;
	cursor: pointer;
}

.container .options .option2 .check:last-child {
	background: #037c0f;
	color: white;
}

.container .options .check img {
	margin-right: 52px;
}

.container .options .option1 {
	margin-bottom: 52px;
}

.container .options .option1 .check:first-child,
.container .options .option2 .check:first-child {
	margin-right: 78px;
}

.container .votingcommence {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #037c0f;
	margin-bottom: 18px;
}

.container .everyvoter {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #ff2020;
}

.unneccessary {
	margin-top: 100px;
	width: 70%;
	height: 31px;
	background: #037c0f;
}

@media only screen and (max-width: 900px) {
	.container,
	.unneccessary,
	.cover {
		display: none;
	}

	.message {
		display: block;
	}
}

@media only screen and (min-width: 900px) {
	.message {
		display: none;
	}
}
